* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.love {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("./image/bg.webp") no-repeat center / cover;
}
.love-success {
  position: absolute;
}
